header {
    height: 850px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: grey url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 32px center;
    flex-shrink: 0;
}
